body{
    background: lightcyan;
}


.container{
    width: 500px;
    height: 500px;
    background-color: gray;
    margin: 100px;
    /* position: relative; */
}

.box{
    width: 100px;
    height: 100px;
}
.red{
    background: red;
    position: relative;
    top: 100px;
    left: 100px;
}
.green{
    background: green;
    /* if it's parent is not relative then by defualt it move according 
    to html bcz everyone's parent is html */
    /* but if in container i give postion : relative then it move in container */
    position: absolute;
    /* top: 50px; */
    bottom: 50px;
    right: 50px;
}
.blue{
    background: blue;
    position: fixed;
    top:0;
    left:50px;

    /* position: relative;
    bottom: 100px;
    left: 200px; */
}
.yellow{
    background: yellow;
    /* when it's parent disappear it will also disapear otherwise it will float according to screen */
    position: sticky;
    top: 10px;
    
    /* position: relative;
    bottom: 200px;
    left: 300px; */
}

.spacer{
    height: 800px;
}